.navigation {
}

.documentation {
}

.description {
  color: #373a3c;
  background-color:#fafafa;
  border-bottom: 1px solid #f0f0f0;
}

.example {
  background-color: #373a3c;
  color: #efefef;
  border-bottom: 1px solid #4F5457;
}

.description .copy {
  padding: 8px;
}

.description.first{
  border-bottom: 1px solid #fafafa
}

.example .copy {
  padding: 8px;
}

.section {
  background-color: #373a3c;
}

.section::after{
  content:'';
  display:table;
  clear:both;
}


.scroll {
  height:100%;
  overflow-y: scroll;
}

.scrollpad {
  padding-top:16px;
}

.scroll.nav{
  height:100%;
  background-color: #F3f3f3
}

.brand{
  border-bottom: 1px solid #e0e0e0;
  background:#f0f0f0;
  top:0;
  width:100%;
  position:fixed;
  padding:12px;
}

.brand .copy{
}

.language-selector {
  top:0;
  position:fixed;
  z-index: 10000;
  width:100%;
  border-bottom: 1px solid #242526;
}

.selections{
  padding:8px;
  background-color:#242526;
  width:100%;
}

.selections.hidden{
  visibility:hidden;
}

a.selection{
  text-decoration:none;  
}

.selection {
  padding: .25rem .75rem;
  font-size: .85rem;
  line-height:1.5;
  border-radius:.2rem;
  color: #fff;
  background-color: #242526;

  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: 1px solid #ccc;
}

.selection.active {
  color: #fff;
  background-color: #0081D6;
  border-color: #8AD0FF;
  background-image: none;
}

.code{
  display:none;
}


*::before, *::after {
  box-sizing:inherit;
}

body {
  line-height:1.5;
  margin:0px
}

div.navigation ul {
  list-style-type:none;
}

div.navigation ul a {
  text-decoration: none;
  color: #242526;
}

div.navigation ul a:hover{
  text-decoration: underline;
}

div.navigation ul a.active{
  color: #0081D6;
  font-weight:bold;
}
  
